{{#if details.threatScore}}
  <button
    class="btn copy-btn p-action"
    {{action "getApiEndpointQuota" "threat" on="mouseUp"}}
  >
    {{fa-icon "info-circle" fixedWidth=true}} Threat Info
  </button>

  {{#if details.threatScore.score}}
    <div>
      <span class="p-key">
        Score:
      </span>
      <span class="p-value">
        {{#if details.threatScore}}
          {{details.threatScore.score}}&nbsp;
          {{#if (lt details.threatScore.score 2)}}
            {{fa-icon "exclamation-triangle" fixedWidth=true class="text-success"}}
          {{else if (lt details.threatScore.score 4)}}
            {{fa-icon "exclamation-triangle" fixedWidth=true class="text-warning"}}
          {{else}}
            {{fa-icon "exclamation-triangle" fixedWidth=true class="text-danger"}}
          {{/if}}
        {{/if}}
      </span>
    </div>
  {{/if}}
  {{#if details.threatScore.scope}}
    <div>
      <span class="p-key">
        Scope:
      </span>
      <span class="p-value">
        {{details.threatScore.scope}}&nbsp;
      </span>
    </div>
  {{/if}}
  {{#if details.threatScore.source}}
    <div>
      <span class="p-key">
        Source:
      </span>
      <span class="p-value">
        {{details.threatScore.source}}&nbsp;
      </span>
    </div>
  {{/if}}
{{/if}}

{{#if details.categories}}
  <button
    class="btn copy-btn p-action"
    {{action "getApiEndpointQuota" "category" on="mouseUp"}}
  >
    {{fa-icon "info-circle" fixedWidth=true}} Category Info
  </button>
  <div>
    <span class="p-key">
      Categories:
    </span>
    <span class="p-value">
      {{join ", " details.categories.categoryNames}}
    </span>
  </div>
  <div>
    <span class="p-key">
      Confidence:
    </span>
    <span class="p-value">
      {{details.categories.confidence}}&nbsp;
    </span>
  </div>
{{/if}}