{{#if details.threatScore}}
  <span class="info-title">
    <p>Threat Score:</p>
  </span>
  {{#if details.threatScore.score}}
    <div>
      <span class="p-key">
        Score:
      </span>
      <span class="p-value">
        {{#if details.threatScore}}
          {{details.threatScore.score}}&nbsp;
          {{#if (lt details.threatScore.score 2)}}
            {{fa-icon "exclamation-triangle" fixedWidth=true class="text-success"}}
          {{else if (lt details.threatScore.score 4)}}
            {{fa-icon "exclamation-triangle" fixedWidth=true class="text-warning"}}
          {{else}}
            {{fa-icon "exclamation-triangle" fixedWidth=true class="text-danger"}}
          {{/if}}
        {{/if}}
      </span>
    </div>
  {{/if}}
  {{#if details.threatScore.scope}}
    <div>
      <span class="p-key">
        Scope:
      </span>
      <span class="p-value">
        {{details.threatScore.scope}}&nbsp;
      </span>
    </div>
  {{/if}}
  {{#if details.threatScore.source}}
    <div>
      <span class="p-key">
        Source:
      </span>
      <span class="p-value">
        {{details.threatScore.source}}&nbsp;
      </span>
    </div>
  {{/if}}

  {{#if quotaInfo.threat}}
    <div class="quota-info-container">
      <div class="quota-info">
        Remaining Threat Queries:
        {{quotaInfo.threat.remaining}}/{{quotaInfo.threat.daily}} - 
        Resets:
        {{moment-format quotaInfo.threat.key_expiry "HH:mm:ss MM/DD EDT" timeZone="EDT"}}
      </div>
    </div>
  {{else}}
    <div class="message-button-container get-quota">
      <div class="d-flex flex-row align-items-center">
        <button
          class="p-btn btn btn-light mt-1"
          disabled={{or getApiEndpointQuotaIsRunning gettingQuotaErrorMessage}}
          {{action "getApiEndpointQuota" "threat"}}
        >
          Remaining Queries
          {{#if threatsQuotaIsRunning}}
            {{fa-icon "spinner-third" fixedWidth=true spin=true}}
          {{/if}}
        </button>
      </div>
      {{#if gettingQuotaErrorMessage}}
        <div class="alert alert-danger mt-1">
          {{gettingQuotaErrorMessage}}
        </div>
      {{/if}}
    </div>
  {{/if}}
{{/if}}

{{#if details.categories}}
  <span class="info-title">
    <p>Category Info:</p>
  </span>
  <div>
    <span class="p-key">
      Categories:
    </span>
    <span class="p-value">
      {{join ", " details.categories.categoryNames}}
    </span>
  </div>
  <div>
    <span class="p-key">
      Confidence:
    </span>
    <span class="p-value">
      {{details.categories.confidence}}&nbsp;
    </span>
  </div>

  {{#if quotaInfo.category}}
    <div class="quota-info-container">
      <div class="quota-info">
        Remaining Category Queries:
        {{quotaInfo.category.remaining}}/{{quotaInfo.category.daily}} - 
        Resets:
        {{moment-format
          quotaInfo.category.key_expiry
          "HH:mm:ss MM/DD EDT"
          timeZone=timezone
        }}
      </div>
    </div>
  {{else}}
    <div class="message-button-container get-quota">
      <div class="d-flex flex-row align-items-center">
        <button
          class="p-btn btn btn-light mt-1"
          disabled={{or getApiEndpointQuotaIsRunning gettingQuotaErrorMessage}}
          {{action "getApiEndpointQuota" "category"}}
        >
          Remaining Queries
          {{#if categoriesQuotaIsRunning}}
            {{fa-icon "spinner-third" fixedWidth=true spin=true}}
          {{/if}}
        </button>
      </div>
      {{#if gettingQuotaErrorMessage}}
        <div class="alert alert-danger mt-1">
          {{gettingQuotaErrorMessage}}
        </div>
      {{/if}}
    </div>
  {{/if}}
{{/if}}

{{#if gettingQuotaErrorMessage}}
  {{#if (eq gettingQuotaErrorMessage "quota_exceeded")}}
    <div class="alert alert-danger">
      <strong>
        Quota Exceeded
      </strong>
      <p>
        You have exceeded your quota for this API endpoint. Please try again later.
      </p>
    </div>
  {{else}}
    <div class="alert alert-danger">
      <strong>
        Error
      </strong>
      <p>
        {{gettingQuotaErrorMessage}}
      </p>
    </div>
  {{/if}}
{{/if}}
{{#if gettingQuotaMessage}}
  <span>
    {{gettingQuotaMessage}}
  </span>
{{/if}}